@import 'null';
@import 'variables';

/* Code navigation */

/* -------------------------------------------------------------------- */
/* 1. Header */
/* 2. Intro */
/* 3. Bicycle gallery */
/* 4. Swiper */
/* 5. Shop */
/* 6. Form */
/* 7. Footer */
/* -------------------------------------------------------------------- */

/* === Common === */

$maxWidth: ( 1600 );

/* START */

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 1. Header */

.header {
    width: 100%;
    height: 100vh;
    background: url(../../img/header_bg.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;

    .container {

        .nav {
            max-width: 620px;
            margin: 0 auto;
            padding: 35px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            &__links {
                @include adaptive-font(13, 9);
                transition: .4s;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2px;
                color: #4d4959;
    
                &:hover {
                    color: #64c29e;
                }
            }

            img {
                position: relative;
                z-index: 11;
                max-width: 100%;
            }

            .burger {
                display: none;

                &__btn {
                    position: relative;
                    display: block;
                    width: 50px;
                    height: 50px;
                }

                &__icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 25px;
                    height: 2px;
                    z-index: 11;
                    background-color: #4d4959;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        transition: .3s;
                        width: 35px;
                        height: 2px;
                        background-color: #4d4959;
                    }

                    &::before {
                        transform: translateY(-10px);
                    }

                    &::after {
                        transform: translateY(10px);
                    }
                }

                &__active {
                    color: #fff;

                    .burger__window {
                        right: 0;
                    }

                    span {
                        width: 30px;
                        background-color: #fff;
    
                        &::before {
                            width: 13px;
                            transform: rotate(-45deg);
                            transform-origin: left bottom;
                            background-color: #fff;
                        }
    
                        &::after {
                            width: 13px;
                            transform: rotate(45deg);
                            transform-origin: left top;
                            background-color: #fff;
                        }
                    }
                }

                &__window {
                    position: fixed;
                    overflow-y: auto;
                    transition: .4s;
                    top: 0;
                    right: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: #4d4959;
                    z-index: 10;

                    &-links {
                        margin: 30% 0 0 0;
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        justify-content: flex-start;
                        color: #fff;

                        a {
                            padding: 20px 0 20px 0;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #fff;
                        }

                        .point {
                            margin: 0 auto;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #fff;
                        }

                    }
                }
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1115px) {

    .header {
        
        .container {

            .nav {
                
                img {
                    width: 84px;
                    height: 75px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header {
        
        .container {

            .nav {
                
                img {
                    width: 76px;
                    height: 68px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .header {
        
        .container {

            .nav {

                &__links, .point__main {
                    display: none;
                }
                
                img {
                    width: 68px;
                    height: 61px;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .header {
        
        .container {

            .nav {

                &__links, .point__main {
                    display: none;
                }
                
                img {
                    width: 61px;
                    height: 55px;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

/* 2. Intro */

.intro {
    background-color: #f7f7f7;

    &__title {
        @include block-title;
        @include adaptive-font(18, 13);
        padding: 115px 0 30px 0;

        img {
            padding: 0 0 30px 0;
        }
    }

    &__text {
        @include block-text;
        @include adaptive-font(18, 15);
        padding: 0 0 140px 0;
    }
}


@media (min-width: 992px) and (max-width: 1115px) {

    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
            line-height: 25px;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

/* 3. Bicycle gallery */

.models {

    /* Row 1 */

    &__row {
        display: flex;
    }

    &__column {

        &-item {
            position: relative;

            &-hover {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .4s;
            }

            &:hover .models__column-item-hover {
                opacity: 1;
            }

            .shop {
                width: 100%;
                height: auto;
            }

            &-card {
                position: relative;
                flex: 0 1 66.67%;

                .wrapper {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    padding: 0 10%;
                }
            }
        }

        .present {
            position: relative;
            flex: 0 1 33.33%;

            .triangle-down {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);

                width: 0;
	            height: 0;
	            border-left: 10px solid transparent;
	            border-right: 10px solid transparent;
	            border-top: 10px solid #fff;
            }
        }

        &-big {
            flex: 0 1 66.67%;
            cursor: pointer;
        }

        &-small {
            display: flex;
            flex: 0 1 33.33%;
            flex-direction: column;
        }
    }

    &__title {
        @include block-title;
        @include adaptive-font(18, 13);

        img {
            padding: 0 0 30px 0;
        }
    }

    &__text {
        @include block-text;
        @include adaptive-font(16, 13);
        padding: 15px 0 0 0;
        line-height: 30px;
        text-align: justify;

        .strip {
            margin: 30px auto 0;
            width: 50px;
            height: 1px;
            background-color: #d7d7d7;
        }
    }

    @media (min-width: 1200px) and (max-width: 1366px) {

        .models {

            &__title {
    
                img {
                    padding: 0 0 20px 0;
                }
            }
    
            &__text {
                line-height: 25px;
    
                .strip {
                    margin: 20px auto 0;
                }
            }
        }
    }

    @media (max-width: 1199px) {

        .models {
            
            &__row {
                display: block;
            }

            &__column {

                &-item {

                    &-card {

                        .wrapper {
                            position: static;
                            transform: none;
                            padding: 0 40px;
                        }
                    }
                }
            }

            &__title {

                img {
                    padding: 30px 0 20px 0;
                }
            }

            &__text {
                
                .strip {
                    margin: 20px auto 30px;
                }
            }
        }
    }

    /* Row 2 */

    &__column-first {
        order: 1;
    }

    &__column-second {
        order: 2;
    }
}

/* 4. Slick slider */

.slider {
    background-color: #f7f7f7;
}

.slide {
    text-align: center;
    padding: 0 20px;

    &__img {
        margin: 50px 0 35px 0;
    }

    &__title {
        @include adaptive-font(18, 13);
        margin: 0 0 30px 0;
        letter-spacing: 1px;
        font-weight: bold;

        span {
            margin: 0 0 0 5px;
            color: #939698;
            font-weight: lighter;
        }
    }

    &__info {
        @include adaptive-font(24, 18);
        line-height: 34px;
        font-style: italic;
        color: #848789;
    }
}

.slick-slider.slick-initialized {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-arrow {
    font-size: 0;
}

.slick-track {
    display: flex;
    padding: 0;
}

.slick-active {

    button {
        background-color: #a9afb3;
    }
}

.slick-dots {
    margin: 40px 0 0 0;
    padding: 0 0 65px 0;
    display: flex;
    justify-content: center;
}

#slick-slide-control00 {
    margin: 0 9px 0 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
}

#slick-slide-control01 {
    margin: 0 9px 0 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
}

#slick-slide-control02 {
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
}

@media (max-width: 768px) {
    
    .slide {

        &__info {
            text-align: justify;
        }
    }
}

/* 5. Shop */

.shop {

    &__body {
        display: flex;
    }

    &__column {
        flex: 0 1 33.3333%;

        .img__card {
            width: 100%;
            height: auto;
        }

        h3 {
            letter-spacing: 3px;
            padding: 10px 0 0 0;
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
        }
    }

    &__row {
        display: flex;
    }

    &__row-item {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #6bb196;

        img {
            transition: .4s;
        }

        &:hover .img__card {
            opacity: 0.2;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            text-align: center;
            transition: .4s;
            transform: translate(-50%, -50%);
        }

        &:hover span {
            opacity: 1;
        }
    }

    &__column-item {
        width: 100%;
        height: auto;
        position: relative;
        background-color: #6bb196;

        img {
            transition: .4s;
        }

        &:hover .img__card {
            opacity: 0.2;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            text-align: center;
            transition: .4s;
            transform: translate(-50%, -50%);
        }

        &:hover span {
            opacity: 1;
        }
    }

    .flex {
        display: flex;
    }

    &__footer {
        text-align: center;
        background-color: #282f35;

        &__btn {
            padding: 75px 0;

            span {
                @include adaptive-font(14, 10);
                padding: 20px 55px;
                letter-spacing: 2px;
                color: #fff;
                font-weight: bold;
                transition: .4s;
                border: 1px solid #fff;

                &:hover {
                    background-color: #6bb196;
                }
            }
        }
    }
}

@media (max-width: 1199px) {

    .shop {

        &__body {
            display: block;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .shop {

        &__footer {
            
            &__btn {
                padding: 58px 0;
    
                span {
                    padding: 19px 47px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .shop {

        &__footer {
            
            &__btn {
                padding: 55px 0;
    
                span {
                    padding: 17px 43px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .shop {

        &__footer {
            
            &__btn {
                padding: 50px 0;
    
                span {
                    padding: 15px 40px;
                }
            }
        }
    }
}

/* 6. Form */

.form {
    margin: 0 auto;
    padding: 0 0 90px 0;
    text-align: center;

    &__header {

        img {
            padding: 105px 0 30px 0;
        }

        h3 {
            @include adaptive-font(24, 18);
            padding: 0 0 35px 0;
            font-style: italic;
            color: #848789;
        }
    }

    &__body {
        display: flex;
        align-items: center;
        min-height: 70px;

        input {
            @include adaptive-font(20, 15);
            min-height: 70px;
            margin: 0 15px 0 0;
            padding: 0 185px 0 25px;
            border: 1px solid #d3d7d9;
            font-style: italic;
        }
    
        button {
            @include adaptive-font(24, 17);
            min-height: 70px;
            padding: 0 45px;
            color: #fff;
            background-color: #64c29e;
        }
    }

    &__menu {
        margin: 0 auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .form {
        padding: 0 0 90px 0;
    
        &__header {
    
            img {
                padding: 90px 0 30px 0;
            }
    
            h3 {
                padding: 0 0 35px 0;
            }
        }
    
        &__body {
            min-height: 70px;
    
            input {
                min-height: 70px;
                margin: 0 15px 0 0;
                padding: 0 160px 0 25px;
            }
        
            button {
                min-height: 70px;
                padding: 0 40px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .form {
        padding: 0 0 70px 0;
    
        &__header {
    
            img {
                padding: 70px 0 30px 0;
            }
    
            h3 {
                padding: 0 0 35px 0;
            }
        }
    
        &__body {
            min-height: 70px;
    
            input {
                min-height: 50px;
                margin: 0 15px 0 0;
                padding: 0 0 0 25px;
            }
        
            button {
                min-height: 50px;
                padding: 0 25px;
            }
        }
    }
}

/* 7. Footer */

.footer {
    background-color: #f7f7f7;

    .container {
        display: flex;
        justify-content: space-between;
    }
    
    &__column {
        width: 21.5%;
        padding: 100px 0 100px 0;

        &__wrapper {
            margin: 0 auto;
        }
    }
    
    .flex {
        display: flex;
        align-items: center;
    }

    .first {
        line-height: 18px;
        color: #848789;

        h3 {
            font-weight: bold;
        }
    }

    .second {

        img {
            padding: 0 15px 0 0;
        }
    }

    .third {
        justify-content: flex-end;

        p {
            @include adaptive-font(14, 12);
            padding: 0 10px 0 0;
            font-style: italic;
            color: #848789;
        }
    }
}

@media (max-width: 765px) {

    .footer {

        .container {
            display: block;
        }

        &__column {
            padding: 50px 0 50px 0;
            width: 100%;
        }

        .first {
            padding: 75px 0 50px 0;
            text-align: center;
        }

        .third {
            justify-content: center;
        }
    }
}