@import 'null';
@import 'variables';

/* Code navigation */

/* -------------------------------------------------------------------- */
/* 1. Header */
/* -------------------------------------------------------------------- */

/* === Common === */

$maxWidth: ( 1600 );

/* START */

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 1. Header */

.header {
    width: 100%;
    height: 100vh;
    background: url(../../img/header_bg.jpg) no-repeat;
    background-position-x: center;

    .container {

        .nav {
            max-width: 620px;
            margin: 0 auto;
            padding: 35px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            &__links {
                @include adaptive-font(13, 9);
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2px;
                color: #4d4959;
    
                &:hover {
                    border-bottom: 1px solid #4d4959;
                }
            }

            img {
                max-width: 100%;
            }

            .burger {
                display: none;

                &__btn {
                    position: relative;
                    display: block;
                    width: 40px;
                    height: 30px;
                }

                &__icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 20px;
                    height: 2px;
                    z-index: 11;
                    background-color: #4d4959;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        transition: .3s;
                        width: 30px;
                        height: 2px;
                        background-color: #4d4959;
                    }

                    &::before {
                        transform: translateY(-10px);
                    }

                    &::after {
                        transform: translateY(10px);
                    }
                }

                &__active {

                    .burger__window {
                        right: 0;
                    }

                    span {
                        width: 30px;
    
                        &::before {
                            width: 13px;
                            transform: rotate(-45deg);
                            transform-origin: left bottom;
                        }
    
                        &::after {
                            width: 13px;
                            transform: rotate(45deg);
                            transform-origin: left top;
                        }
                    }
                }

                &__window {
                    position: fixed;
                    overflow-y: auto;
                    transition: .4s;
                    top: 0;
                    right: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    z-index: 10;

                    &-links {
                        margin: 30% 0 0 0;
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        justify-content: flex-start;

                        a {
                            padding: 20px 0 20px 0;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #4d4959;
                        }

                        .strip {
                            margin: 0 auto;
                            width: 90%;
                            height: 1px;
                            background-color: #b7b7b7b7;
                        }
                    }

                    &-networks {
                        width: 170px;
                        margin: 100px auto 0;

                        img {
                            margin: 0 20px 0 0;
                            width: 29px;
                            height: 28px;
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1115px) {

    .header {
        
        .container {

            .nav {
                
                img {
                    width: 84px;
                    height: 75px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header {
        
        .container {

            .nav {
                
                img {
                    width: 76px;
                    height: 68px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .header {
        
        .container {

            .nav {

                &__links, .point {
                    display: none;
                }
                
                img {
                    width: 68px;
                    height: 61px;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .header {
        
        .container {

            .nav {

                &__links, .point {
                    display: none;
                }
                
                img {
                    width: 61px;
                    height: 55px;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

