@import 'null';
@import 'variables';

/* Code navigation */

/* -------------------------------------------------------------------- */
/* 1. Header */
/* 2. Intro */
/* 3. Bicycle gallery */
/* -------------------------------------------------------------------- */

/* === Common === */

$maxWidth: ( 1600 );

/* START */

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1115px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 1. Header */

.header {
    width: 100%;
    height: 100vh;
    background: url(../../img/header_bg.jpg) no-repeat;
    background-position-x: center;
    background-size: cover;

    .container {

        .nav {
            max-width: 620px;
            margin: 0 auto;
            padding: 35px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            &__links {
                @include adaptive-font(13, 9);
                transition: .4s;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                letter-spacing: 2px;
                color: #4d4959;
    
                &:hover {
                    color: #64c29e;
                }
            }

            img {
                position: relative;
                z-index: 11;
                max-width: 100%;
            }

            .burger {
                display: none;

                &__btn {
                    position: relative;
                    display: block;
                    width: 50px;
                    height: 50px;
                }

                &__icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 25px;
                    height: 2px;
                    z-index: 11;
                    background-color: #4d4959;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        transition: .3s;
                        width: 35px;
                        height: 2px;
                        background-color: #4d4959;
                    }

                    &::before {
                        transform: translateY(-10px);
                    }

                    &::after {
                        transform: translateY(10px);
                    }
                }

                &__active {
                    color: #fff;

                    .burger__window {
                        right: 0;
                    }

                    span {
                        width: 30px;
                        background-color: #fff;
    
                        &::before {
                            width: 13px;
                            transform: rotate(-45deg);
                            transform-origin: left bottom;
                            background-color: #fff;
                        }
    
                        &::after {
                            width: 13px;
                            transform: rotate(45deg);
                            transform-origin: left top;
                            background-color: #fff;
                        }
                    }
                }

                &__window {
                    position: fixed;
                    overflow-y: auto;
                    transition: .4s;
                    top: 0;
                    right: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: #4d4959;
                    z-index: 10;

                    &-links {
                        margin: 30% 0 0 0;
                        display: flex;
                        text-align: center;
                        flex-direction: column;
                        justify-content: flex-start;
                        color: #fff;

                        a {
                            padding: 20px 0 20px 0;
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #fff;
                        }

                        .point {
                            margin: 0 auto;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: #fff;
                        }

                    }
                }
            }
        }
    }
}


@media (min-width: 992px) and (max-width: 1115px) {

    .header {
        
        .container {

            .nav {
                
                img {
                    width: 84px;
                    height: 75px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .header {
        
        .container {

            .nav {
                
                img {
                    width: 76px;
                    height: 68px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .header {
        
        .container {

            .nav {

                &__links, .point__main {
                    display: none;
                }
                
                img {
                    width: 68px;
                    height: 61px;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .header {
        
        .container {

            .nav {

                &__links, .point__main {
                    display: none;
                }
                
                img {
                    width: 61px;
                    height: 55px;
                }

                .burger {
                    display: block;
                }
            }
        }
    }
}

/* 2. Intro */

.intro {
    background-color: #f7f7f7;

    &__title {
        @include block-title;
        @include adaptive-font(18, 13);
        padding: 115px 0 30px 0;

        img {
            padding: 0 0 30px 0;
        }
    }

    &__text {
        @include block-text;
        @include adaptive-font(18, 15);
        padding: 0 0 140px 0;
    }
}


@media (min-width: 992px) and (max-width: 1115px) {

    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {

    .intro {
    
        &__title {
            padding: 90px 0 30px 0;
            line-height: 25px;
        }
    
        &__text {
            padding: 0 0 90px 0;
        }
    }
}

/* 3. Bicycle gallery */

.models {

    /* Row 1 */

    &__row {
        display: flex;
    }

    &__column {

        &-item {
            position: relative;

            &-hover {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .4s;
            }

            &:hover .models__column-item-hover {
                opacity: 1;
            }

            .shop {
                width: 100%;
                height: auto;
            }

            &-card {
                position: relative;
                flex: 0 1 66.67%;

                .wrapper {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    padding: 0 10%;
                }
            }
        }

        .present {
            position: relative;
            flex: 0 1 33.33%;

            .triangle-down {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, 0);

                width: 0;
	            height: 0;
	            border-left: 10px solid transparent;
	            border-right: 10px solid transparent;
	            border-top: 10px solid #fff;
            }
        }

        &-big {
            flex: 0 1 66.67%;
            cursor: pointer;
        }

        &-small {
            display: flex;
            flex: 0 1 33.33%;
            flex-direction: column;
        }
    }

    &__title {
        @include block-title;
        @include adaptive-font(18, 13);

        img {
            padding: 0 0 30px 0;
        }
    }

    &__text {
        @include block-text;
        @include adaptive-font(16, 13);
        padding: 15px 0 0 0;
        line-height: 30px;
        text-align: justify;

        .strip {
            margin: 30px auto 0;
            width: 50px;
            height: 1px;
            background-color: #d7d7d7;
        }
    }

    @media (min-width: 1200px) and (max-width: 1366px) {

        .models {

            &__title {
    
                img {
                    padding: 0 0 20px 0;
                }
            }
    
            &__text {
                line-height: 25px;
    
                .strip {
                    margin: 20px auto 0;
                }
            }
        }
    }

    @media (max-width: 1199px) {

        .models {
            
            &__row {
                display: block;
            }

            &__column {

                &-item {

                    &-card {

                        .wrapper {
                            position: static;
                            transform: none;
                            padding: 0 40px;
                        }
                    }
                }
            }

            &__title {

                img {
                    padding: 30px 0 20px 0;
                }
            }

            &__text {
                
                .strip {
                    margin: 20px auto 30px;
                }
            }
        }
    }

    /* Row 2 */

    &__column-first {
        order: 1;
    }

    &__column-second {
        order: 2;
    }
}